

  /****************/

  .Toastify__close-button {
    font-size: 14px; /* Ajusta el tamaño según tus necesidades */
    opacity: 0.8; /* Puedes ajustar la opacidad si es necesario */
    width: 25px;
  }
  
  /* Ajuste de los márgenes para que la X esté mejor alineada */
  .Toastify__toast {
    padding-right: 10px; /* Espacio para la X */
  }

  /*******************************/


  /* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f9;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}

.login-box h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.input-group input:focus {
  border-color: #007bff;
  outline: none;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

/**************************/

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f9;
  background-size: cover;
  background-position: center;
}

.login-box {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  text-align: center;
  box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.logo img {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: calc(100% - 22px); /* Ajusta el tamaño para que no sobrepase el contenedor */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box; /* Asegura que el padding y border se incluyan en el tamaño total */
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px; /* Espacio arriba del contenedor de botones, opcional */
  margin-left: auto;
  margin-right: auto;
}

.login-btn {
  width: 150px; /* Ajusta el ancho según sea necesario */
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
}

.login-btn-back {
  width: 150px; /* Ajusta el ancho según sea necesario */
  padding: 10px;
  background-color: #dc3545; /* Color de fondo rojo */
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
}

.login-btn:hover {
  background-color: #0056b3;
}

.login-btn-back:hover {
  background-color: #c82333; /* Color de fondo rojo más oscuro al pasar el ratón */
}

.login-btn:hover {
  background-color: #0056b3;
}

.login-btn svg {
  margin-left: 8px; /* Espacio entre el ícono y el texto */
}

.error-message {
  color: red;
  margin-top: 10px;
}
